.page-container {
  background-color: #fafafa;
}

.login-img {
  width: 80%;
  text-align: center;
}

.login-link {
  float: right;
  font-weight: normal;
}

.navbar-height {
  min-height: 6em !important;
}

.navbar-link-is-active {
  background-color: #fafafa;
  color: #8B303A !important;
  font-weight: bold;
}

.navbar-item img {
  width: 100%;
  max-height: 50px;
}

.with-navbar-fixed-top {
  margin-top: 6em;
}

.footer-section {
  left: 0;
  bottom: 0;
  width: 100%;
  vertical-align: middle;
  margin-top: 10em;
}

pre .preformatted {
  background-color: #fafafa !important;
  font-family: Arial, Helvetica, sans-serif;
}